.dashboard-container {
  display: flex;
  height: 100vh;
  background-color: var(--bg-color);
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 14%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  transition: all 0.3s ease;
  max-height: 100vh;
  overflow-y: auto; 
}

.sidebar::-webkit-scrollbar {
  width: 0px; /* Adjust width */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}


.sidebar.hidden {
  display: none;
}

.sidebar-content .menu {
  margin-bottom: 0.4rem;
}

/* .sidebar-content .menu:hover {
  text-decoration: underline;
} */

.menu {
  padding: 8px;
}

.menu a {
  color: var(--primary-color);
}

.menu.active {
  padding: 8px;
  background-color: var(--primary-color);
}

.menu.active a {
  color: #fff;
}

.sub-menu a {
  display: block;
  margin-top: 0.5rem;
  text-decoration: none;
}

.sub-menu a:hover {
  text-decoration: underline;
}

.content {
  margin-left: 14%;
  width: 86%;
  height: 100%;
  overflow: auto;
  padding: 20px;
  transition: all 0.3s ease;
}

.content.full-width {
  margin-left: 0;
  width: 100%;
}

.close-sidebar {
  display: none;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
    transition: all 1s ease;
  }
  .sidebar.block {
    display: block;
    width: 60%;
    z-index: 100;
    transition: all 1s ease;
  }
  .content {
    margin-left: 0;
    width: 100%;
    transition: all 1s ease;
  }
  .dashbord-avatar-custom-margin {
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .dashbord-avatar-custom-margin {
    margin-top: 0;
  }
}
